/* Hide logo in dark mode and show alternative */
html[data-theme="dark"] .navbar-brand img {
    content: url("nimble-rustplus-shadow.png");
}

.headerlink {
    display: none;
}

.side-by-side-images {
   display: flex;
   gap: 5%;
}

.side-by-side-images img {
   display: block;
   width: 100%;
}